body {
  font-family: "Arial", sans-serif;
  background-color: #f2f7ff;
  margin: 10px;
  padding: 0;
}

/* Styling pro menu */
.navbar {
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  overflow: hidden;
  background-color: #007acc;
  border-radius: 8px;
}

li a {
  float: inline-start;
}

li button {
  background: none;
  outline: none;
  border: none;
  float: inline-end;
  height: 100%;
}

li a,
li button {
  display: block;
  color: white;
  text-align: center;
  margin: 2px;
  padding: 14px 16px;
  text-decoration: none;
  transition: background-color 0.2s ease-in;
  border-radius: 8px;
}

.active {
  background-color: #00578b;
}

li a:hover,
li button:hover {
  background-color: #00578b;
}

.fas {
  color: white;
  padding-right: 2px;
}

.fa-solid,
.fa-regular,
.fa-brands,
.fa, .far {
  padding-right: 5px;
}

/* Styling pro <h1> */
h1 {
  margin-left: 10px;
  color: #007acc;
}

/* Styling pro <p> */
p {
  color: #333;
  margin: 0 10px;
}

/* Styling pro pop-up */
.popup {
  display: none;
  position: fixed;
  top: 55px;
  right: 8px;
  width: 25%;
  padding: 20px;
  background: #ffffff;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border-radius: 8px;
}

.svitch,
.popClose,
.popup input[type='submit'],
.svbtn {
  background-color: #007acc;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  height: fit-content;
  width: fit-content;
  margin: 5px;
  border-radius: 5px;
}

.popup form {
  margin-bottom: 15px;
}

.popup input {
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.svitch {
  display: flex;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.pasdiv {
  display: flex;
  flex-wrap: nowrap;
  width: 80%;
}

.pasdiv input {
  width: calc(80% - 30px);
}

.swbtn {
  width: auto;
  height: 100%;
  border-radius: 5px;
}

.button-container {
  display: flex;
  margin-top: 2px;
}

.swbtn img {
  width: 30px;
  height: auto;
}

.popClose {
  position: absolute;
  right: 10%;
  top: 5%;
  border-radius: 5px;
}

.show {
  display: flex;
  flex-direction: column;
  width: 25%;
  padding: 10px;
  box-shadow: #00578b 5px 10px;
  transition: background-color 0.2s ease-in;
  background-color: #ffffff;
  margin: 5px;
  border-radius: 8px;
}

.show:hover {
  background-color: #007acc;
  color: white;
}

.project-button {
  background-color: #000000;
  color: #ffffff;
  padding: 10px;
  cursor: pointer;
  height: fit-content;
  width: fit-content;
  margin: 3px;
  border: none;
  border-radius: 5px;
  transition: background-color 0.2s ease-in;
}

.project-button:hover {
  background-color: #ffffff;
  color: #000000;
}

.button-text {
  margin-left: 10px;
}


.showcont {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.nolog {
  font-size: 110%;
  margin: 10px;
  padding: 10px;
  display: flex;
  text-align: left;
  background-color: #fe6e7a;
  border-radius: 8px;
  box-shadow: 0 0 20px #0000003b;
}

footer {
  bottom: 0;
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: center;
}

footer p {
  width: 50%;
  margin: 30px;
  padding: 10px;
  overflow: hidden;
  text-align: center;
  background-color: #007acc;
  border-radius: 8px;
}

@media (max-width: 600px) {

  .showcont {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .show {
    width: 90%;
    margin-top: 30px;
  }

  .navbar {
    margin: 0;
    padding: 5px;
  }

  li a,
  li button {
    padding: 7px 8px;
  }

  .nolog {
    font-size: 100%;
  }

  .popup {
    width: 80%;
  }

  footer p {
    padding: 8px;
    margin: 5px;
  }

  footer {
    margin-top: 10px;
    position: sticky;
  }
}